*{
    font-family: 'Poppins', sans-serif;
}

.baclk{
    color:#4D4C59;
}

.purple{
   color: #6C63FF;
}

.light-grey{
    color:#C8C8C8;
}

.text-color{
    color:#9C9AB6;
}

.f-weight-300{
    font-weight:300;
}

.f-weight-400{
    font-weight:400;
}

.f-weight-500{
    font-weight:500;
}

